@import "../variables.scss";

.task {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    gap: 1.5rem;
    width: 100%;

    background-color: $gray-400;
}

.taskContent {
    font-size: 1rem;
    word-break: break-all;

    color: $gray-100;

    &::selection {
        background-color: transparent;
    }
}

.taskButton {
    align-self: flex-start;
    border: 0;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 0;

    background-color: transparent;
    transition: color 0.3s;
    color: $gray-300;

    &:hover {
        color: $pink-dark;
    }
}